#small_table {
  /*width: 200px;
  height: 100px;*/
  border: 2px solid blue;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-collapse: collapse;
}

#small_table td {
  width: 20px;
  height: 20px;
  background-color: yellow;
  border: 2px solid blue;
}

#big_table td {
  width: 30px;
  height: 30px;
  background-color: yellow;
  border: 2px solid blue;
}
#big_table {
  border: 2px solid blue;
  position: absolute;
  top:27%;
  left:20%;
  border-collapse: collapse;
}
