   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }
   body {

   	display: flex;
   	align-items: center;
   	justify-content: center;

   }
   ol, ul {
   	list-style: none;
   }
   blockquote, q {
   	quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
   	content: '';
   	content: none;
   }
   table {
   	border-collapse: collapse;
   	border-spacing: 0;
   }


   .pointer {
   	cursor: pointer;
   	display:block;
   	margin: auto;
   }

   #galary {
   	padding-top: 10%;
   	margin: auto;
   	display:flex;
   	flex-direction: row;
   	align-items: center;
   	justify-content: space-around;
   }

   #main-picture {

   	width: 200px;
   	height: 200px;
   }

   #main-picture > img {
   	width: 100%;
   	height: 100%;
   }


   #larger {
   	background-image: url(../images/images.png);
   	background-repeat: no-repeat;
   	width: 200px;
   	height: 200px;
   	visibility: hidden;
   	background-size: 400px 400px;
   }

   #second-picture, #third-picture {

   	background-color: pink;
   	width: 95px;
   	height: 95px;

   }

   #other-picture {
   	background-color: blue;
   	width: 100px;
   	height: 200px;
   	display:flex;
   	flex-direction: column;
   	align-items: center;
   	justify-content: space-around;
	     border:2px solid blue;
   }

   #second-picture  > img {
   	width:100%;
   	height:100%;
   }


   #third-picture  > img {
   	width:100%;
   	height:100%;
   }
